[user]
	email = rtheekshanafernando@gmail.com
	name = n3tw0rth
	username = n3tw0rth
[alias]
  co = checkout
  br = branch
  cm = commit
  st = status
  pu = push
  pl = pull
  d = diff
  a = add --all
; [core]
;     pager = delta
;
; [interactive]
;     diffFilter = delta --color-only
;
; [delta]
;     navigate = true  # use n and N to move between diff sections
;     dark = true      # or light = true, or omit for auto-detection
;
; [merge]
;     conflictstyle = zdiff3
;
